<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>94455968803-k5hd8bmoafetcnlff8cjggm92pgc5t9h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.94455968803-k5hd8bmoafetcnlff8cjggm92pgc5t9h</string>
	<key>API_KEY</key>
	<string>AIzaSyBzujLCaajqPwk0zNNEl0-hzZc10wPbnuM</string>
	<key>GCM_SENDER_ID</key>
	<string>94455968803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Qalab.Kids</string>
	<key>PROJECT_ID</key>
	<string>kids-f3624</string>
	<key>STORAGE_BUCKET</key>
	<string>kids-f3624.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:94455968803:ios:41499a71dbc936e91e2d96</string>
</dict>
</plist>
